<table class="table table-responsive table-bordered table-hover table-light">
  <thead>
    <tr>
      <th>İşEmri</th>
      <th *ngFor="let workOrder of workOrders">{{ workOrder.durationName }}</th>
      <th>Toplam</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workOrderCode of workOrderCodes">
      <td> {{ workOrderCode }} </td>
      <td *ngFor="let duration of durations">{{ duration }}</td>
      <td>{{generalTotalDurations}}</td>
    </tr>
    <tr>
      <td>Toplam</td>
      <td *ngFor="let totalDuration of totalDurations">{{ totalDuration }}</td>
    </tr>
  </tbody>
</table>
